<div id="body" class="container-fluid">
  <div id="main-header" class="container-fluid">
    <h1>Komboozecha</h1>
    <h4>"Get healthy AND buzzed!"</h4>
  </div>
  <div id="main-body" class="container-fluid">
    <button class="btn" value="any" (click)="setDesiredFullness($event.target.value)">All kegs</button>
    <button class="btn" value="full" (click)="setDesiredFullness($event.target.value)">Untapped kegs</button>
    <button class="btn" value="low" (click)="setDesiredFullness($event.target.value)">Low kegs</button>
    <div class="keg-div">
      <keg-list *ngFor="let keg of kegs | fullness: desiredFullness" [keg]="keg" (drainSender)="drain($event)"></keg-list>
    </div>
  </div>
  <new-keg id="new-keg-form" *ngIf="adminView"></new-keg>
</div>
